////COLORS
$color-primary: #394264;
$color-primary-light: #50597b;
$color-primary-dark: #1f253d;
//
$color-secondary-light: #11a8ab;
$color-secondary-dark: #1a6769;
//
$color-tertiary-light: #3468af;
$color-tertiary-dark: #1a4e95;
//
$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eee;
$color-gray-light-3: #a8bfcc;
//
//$color-gray-dark-1: #777;
//$color-gray-dark-2: #999;
//$color-gray-dark-3: #333;
//
$color-white: #fff;
$color-black: #000;
////FONT
//$default-font-size: 1.6rem;
////GRID
//$grid-width: 114rem;
//$gutter-vertical: 8rem;
//$gutter-vertical-small: 6rem;
//$gutter-horizontal: 6rem;

$shadow-light: 0 1rem 2rem rgba(0, 0, 0, 0.25);
$shadow-light2: 0 1px 3px 1px rgba(0,0,0,.3);
$shadow-light3: -3px 3px 3px rgba(0, 0, 0, 0.25);
