.footer {
    &__img {
        grid-column: 1/-1;
        border-bottom: 1px solid $color-primary-dark;
        img {

            width: 40px;
        }

    }
    &__links {
        grid-column: 1/2;
        border-bottom: 1px solid $color-primary-dark;
        font-size: 1.5rem;
        padding: 0.5vw;
        &--ul {
            list-style: none;
        }
        &--link {
            display: inline-block;
            padding: 0 2vw;
            cursor: pointer;
        }
    }
    &__social {
        grid-column: 2/-1;
        border-bottom: 1px solid $color-primary-dark;
        padding: 0.5vw;
        text-align: end;
        .icon{
            margin: 0 1vw;
            cursor: pointer;
            transition: all .3s;
        }
        .icon:hover{
            transform: translateY(-3px);
        }
    }
    &__bottom {
        grid-column: 1/-1;
        font-size: 1.2rem;
        color: $color-primary-dark;
        margin-top: 0.5vw;
        text-align: center;
    }
    .scroll-top-wrapper{
 position: fixed;
  opacity: 0;
z-index: 999999999999;
  visibility: hidden;
  overflow: hidden;
  text-align: center;
  z-index: 99999999;
  background-color: #575a5a;
  color: #fffcfc;
  width: 3.5vw;
  height: 3.5vw;
  line-height: 40px;
  right: 4px;
  bottom: 113px;
  padding-top: 2px;
  border-radius: 4px;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
    }
}
